<!DOCTYPE html>
<html>
<head>
  <title>CurlTest</title>
  <meta http-equiv="refresh" content="10" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #ADD8E6">

<%= yield %>

<div style="text-align: center; background-color: #ffffff">
	<img style="-webkit-user-select: none; width: 550px" src="http://150.250.99.80:8081/" align="center">
	<br>
	<div id="Content">
		<%= render 'partials/sign' %>
	</div>
</div>

</body>

</html>
