<!DOCTYPE html>
<html>
<head>
  <title>CurlTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #ADD8E6">

<%= yield %>

<div style="text-align: center; background-color: #ffffff">
	<iframe type="text/html" frameborder="0" width="480" height="394" src="//video.nest.com/embedded/live/1zF9SJ?autoplay=1"></iframe>
	<br>
	<div id="Content">
		<%= render 'partials/sign' %>
	</div>
</div>

</body>

</html>
